%ul.pagination
  -if model.page_count > 1
    -unless (model.current_page - 1) <= 0
      %li
        %a{href:"#{url_for("#{base}/#{model.current_page - 1}")}"}
          &laquo;
    - page_seq(model.current_page, model.page_count).each do |page|
      %li{class: ("active" if page == model.current_page)}
        %a{href:"#{url_for("#{base}/#{page}")}"}
          =page
    -unless (model.current_page + 1) > model.page_count
      %li
        %a{href:"#{url_for("#{base}/#{model.current_page + 1}")}"}
          &raquo;
