.grid
  .grid-sizer
  -assets.each do |asset|
    -if asset.type == 'video'
      %a{href: "#{url_for("#{base}/asset/#{asset.id}")}"}
        %img.video-thumbnail{src: "#{url_for("/#{asset.thumbnail_med}")}"}
    -else
      %a{href: "#{url_for("#{base}/asset/#{asset.id}")}"}
        %img{class: "rotate-#{asset.orientation}", src: "#{url_for("/#{asset[:thumbnail_med]}")}"}
:javascript
  var container = document.querySelector('.grid')
  var msnry = new Masonry( container, {
    // options
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    gutter: 10
  });

  imagesLoaded(container, function() {
    msnry.layout();
  });

  document.onkeydown = checkKey;
  function checkKey(e) {
    e = e || window.event;
    if (e.keyCode == '37') {
      if(#{prev.nil? ? "false" : "true"}) {
        window.location = "#{url_for("#{base}/album/#{prev.id}")}"
      }
    } else if (e.keyCode == '39') {
      if(#{nxt.nil? ? "false" : "true"}) {
        window.location = "#{url_for("#{base}/album/#{nxt.id}")}"
      }
    }
  }
