.grid
  .grid-sizer
  -assets.each do |asset|
    -if asset.type == 'video'
      video 
    -else
      %a.grid-item
        %img{width: '100%', class: "rotate-#{asset.orientation}", src: "#{url_for("/pictures#{asset.path}")}"}
:javascript
  var container = document.querySelector('.grid')
  var msnry = new Masonry( container, {
    // options
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer'
  });

  imagesLoaded(container, function() {
    msnry.layout();
  });

  document.onkeydown = checkKey;
  function checkKey(e) {
    e = e || window.event;
    if (e.keyCode == '37') {
      if(#{prev.nil? ? "false" : "true"}) {
        window.location = "#{url_for("#{base}/album/#{prev.id}")}"
      }
    } else if (e.keyCode == '39') {
      if(#{nxt.nil? ? "false" : "true"}) {
        window.location = "#{url_for("#{base}/album/#{nxt.id}")}"
      }
    }
  }
