= haml :"partials/photo_spread", locals: {pfiles: pfiles, base: base}
:javascript
  document.onkeydown = checkKey;
  function checkKey(e) {
    e = e || window.event;
    if (e.keyCode == '37') {
      if(#{prev.last.nil? ? "false" : "true"}) {
        window.location = "#{url_for("#{base}/#{prev.last}")}"
      }
    } else if (e.keyCode == '39') {
      if(#{!nxt.first.nil? && pfiles.all.size == pfiles.page_size ? "true" : "false"}) {
        window.location = "#{url_for("#{base}/#{nxt.first}")}"
      }
    }
  }
