<!DOCTYPE html>
%html{:lang => "en"}
  %head
    %title#title
      #{@title}
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content=>"width=device-width, initial-scale=1, shrink-to-fit=no"}
    %meta{:name=>"apple-mobile-web-app-capable", :content=>"yes"}
    %link{:rel => "stylesheet", :href => "#{url_for '/css/default.css'}", :type => "text/css", :media => "screen" }
    %link{:href=>"#{url_for('/libs/bootstrap/dist/css/bootstrap.min.css')}", :rel=>"stylesheet"}
  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark{role: "navigation"}
      %a.navbar-brand{href:"#{url_for("/")}"}
        Pho
    #wrap
      .container#content.mt-2
        -if locals.has_key?(:error_message)
          .alert.alert-danger
            %a.close{data: { dismiss: "alert" }, aria: { label: "close" } }
              &times;
            =error_message
        =yield
    %footer.footer
      Another
      %i
        %a{href:"https://patf.net"}
          patf
      joint
    %script{:type => "text/javascript", :src => "#{url_for('/libs/jquery/dist/jquery.min.js')}"}
    %script{:type => "text/javascript", :src => "#{url_for('/libs/moment/min/moment.min.js')}"}
    %script{:type => "text/javascript", :src => "#{url_for('/libs/bootstrap/dist/js/bootstrap.bundle.min.js')}"}
    %script{:type => "text/javascript", :src => "#{url_for '/js/form_actions.js'}"}
:javascript

