.row.sp-bottom-sm
  -prev.each do |thumb|
    .col-sm-1
      %a.thumb{href: "#{url_for("/photo/#{thumb.id}")}"}
        %img.thumb{class: "rotate-#{thumb.orientation}", src: "#{url_for("/#{thumb.thumbnail}")}"}
  -nxt.each do |thumb|
    .col-sm-1
      %a.thumb{href: "#{url_for("/photo/#{thumb.id}")}"}
        %img.next{class: "rotate-#{thumb.orientation}", src: "#{url_for("/#{thumb.thumbnail}")}"}
.row
  .col-sm-6
    %img.full{class: "rotate-#{photo.orientation}", src: "#{url_for("/pictures#{photo.path}")}"}
  .col-sm-6
    %form.hidden_photo
      .checkbox
        %label
          %input.form-control.input-sm{type:"checkbox", name:"hidden", checked: photo.hidden, onFocus: "this.dirty=false", onChange: "this.dirty = true", onBlur: "if(this.dirty) { update_photo(#{photo.id}) }"}
            Hidden?
    %form.favorite_photo
      .form-group.checkbox
        %label
          %input.form-control.input-sm{type:"checkbox", name:"favorite", checked: photo.favorited?(user_id), onFocus: "this.dirty=false", onChange: "this.dirty = true", onBlur: "if(this.dirty) { update_favorite(#{photo.id}, this.checked) }"}
            Favorited?
    .sp-bottom-sm
      %button.btn{ data: { toggle: "collapse", target: "#photo_info" } }
        Photo Information
    #photo_info.collapse
      %table.table.table-condensed
        %tbody
          -photo.columns.each do |column|
            %tr
              %td
                =column
              %td
                =photo[column]
:javascript
  function update_favorite(id, checked) {
    var form=$(".favorite_photo");
    var url = '#{url_for("/photo/#{photo.id}/favorite")}';
    if(checked) {
      return post(form, url);
    } else {
      return del(url);
    }
  }

  function update_photo(id) {
    var form=$(".hidden_photo");
    var url = '#{url_for("/photo/#{photo.id}")}';
    return put(form, url);
  }
