.row.sp-bottom-sm
  -prev.each do |thumb|
    .col-sm-1
      %a.thumb{href: "#{url_for("/photo/#{thumb.id}")}"}
        %img.thumb{class: "rotate-#{thumb.orientation}", src: "#{url_for("/#{thumb.thumbnail}")}"}
  -nxt.each do |thumb|
    .col-sm-1
      %a.thumb{href: "#{url_for("/photo/#{thumb.id}")}"}
        %img.next{class: "rotate-#{thumb.orientation}", src: "#{url_for("/#{thumb.thumbnail}")}"}
.row
  .col-sm-6
    %img.full{class: "rotate-#{photo.orientation}", src: "#{url_for("/pictures#{photo.path}")}"}
  .col-sm-6
    .sp-bottom-sm
      %button.btn{ data: { toggle: "collapse", target: "#photo_info" } }
        Photo Information
    #photo_info.collapse
      %form.photo
        %input.form-control{type:"checkbox", name:"hidden", checked: photo.hidden, onFocus: "this.dirty=false", onChange: "this.dirty = true", onBlur: "if(this.dirty) {update_photo(#{photo.id})}"}
      %table.table.table-condensed
        %tbody
          -photo.columns.each do |column|
            %tr
              %td
                =column
              %td
                =photo[column]
:javascript
  function update_photo(id) {
    var form=$(".photo");
    var url = '#{url_for("/photo/#{photo.id}")}';
    return put(form, url);
  }
