.row.sp-bottom-sm
  -prev.each do |asset|
    .col-md-1
      %a{href: "#{url_for("#{base}/asset/#{asset.id}")}"}
        -if asset.photo
          %img.next.img-responsive.thumb{class: "rotate-#{asset.photo.orientation}", src: "#{url_for("/#{asset.thumbnail}")}"}
        -else
          %img.next.img-responsive.thumb{src: "#{url_for("/#{asset.thumbnail}")}"}
  .col-sm-1
    &nbsp;
  -nxt.each do |asset|
    .col-sm-1
      %a{href: "#{url_for("#{base}/asset/#{asset.id}")}"}
        -if asset.photo
          %img.next.img-responsive.thumb{class: "rotate-#{asset.photo.orientation}", src: "#{url_for("/#{asset.thumbnail}")}"}
        -else
          %img.next.img-responsive.thumb{src: "#{url_for("/#{asset.thumbnail}")}"}
.row
  .col-sm-1.my-auto.display-1
    -if prev.last
      %a.text-decoration-none{href: "#{url_for("#{base}/asset/#{prev.last.id}")}"}
        &#xab;
  .col-sm-6
    %img.full{class: "rotate-#{photo.orientation}", src: "#{url_for("/pictures#{photo.asset.path}")}"}
    %div
      =photo.asset.date.strftime('%B %d, %Y (%l:%M:%S %p)' )
  .col-sm-1.my-auto.display-1
    -if nxt.first
      %a.text-decoration-none{href: "#{url_for("#{base}/asset/#{nxt.first.id}")}"}
        &#xbb;
  .col-sm-4
    %form.hidden_photo
      .checkbox
        %label
          %input.form-control.input-sm{type:"checkbox", name:"hidden", checked: photo.hidden, onFocus: "this.dirty=false", onChange: "this.dirty = true; if(this.dirty) { update_photo(#{photo.id}) }"}
            Hidden?
    %form.favorite_photo
      .form-group.checkbox
        %label
          %input.form-control.input-sm{type:"checkbox", name:"favorite", checked: photo.favorited?(user_id), onFocus: "this.dirty=false", onChange: "this.dirty = true; if(this.dirty) { update_favorite(#{photo.id}, this.checked) }"}
            Favorited?
    .sp-bottom-sm
      %a.btn.btn-primary{href: "#{url_for("/pictures#{photo.asset.path}")}", target: "_"}
        Raw Image
    .sp-bottom-sm
      %button.btn.btn-info{ data: { toggle: "collapse", target: "#photo_info" } }
        Photo Information
    #photo_info.collapse
      %table.table.table-condensed
        %tbody
          -photo.columns.each do |column|
            %tr
              %td
                =column
              %td
                =photo[column]
:javascript
  document.onkeydown = checkKey;
  function update_favorite(id, checked) {
    var form=$(".favorite_photo");
    var url = '#{url_for("#{base}/asset/#{photo.id}/favorite")}';
    if(checked) {
      return post(form, url);
    } else {
      return del(url);
    }
  }

  function update_photo(id) {
    var form=$(".hidden_photo");
    var url = '#{url_for("#{base}/asset/#{photo.id}")}';
    return put(form, url);
  }

  document.onkeydown = checkKey;
  function checkKey(e) {
    e = e || window.event;
    if (e.keyCode == '37') {
      if(#{prev.last.nil? ? "false" : "true"}) {
        window.location = "#{url_for("#{base}/asset/#{prev.last&.id}")}"
      }
    } else if (e.keyCode == '39') {
      if(#{nxt.first.nil? ? "false" : "true"}) {
        window.location = "#{url_for("#{base}/asset/#{nxt.first&.id}")}"
      }
    }
  }
